@font-face {
  font-family: 'gothic_eb';
  src: url('./GothicA1-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'gothic_m';
  src: url('./GothicA1-Medium.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'gugi';
  src: url('./Gugi-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}